# Pivoting in Pandas

Pivoting is a useful tool in working on with spreadsheets since it can easily reorganize a data table. It is also useful for answering questions during presentations, especially when discussing the data with your colleagues. 

But since we are using Pandas with data analysis, pivoting might me a little difficult since. We don't have a drag and drop UI for certain actions and process we need to do. But tahnkfully, we still can pivot with Pandas using several Pandas tools for Data Cleaning.

In this article, we're gonna explore the ways on Pivoting and reshaping data tables with Pandas.

In [1]:
print("Hello world")

Hello world

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Date': ['2023-09-01', '2023-09-01', '2023-09-02', '2023-09-02'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'Temperature': [75, 82, 72, 79],
    'Humidity': [55, 60, 50, 65]
}

df = pd.DataFrame(data)

# Pivot the DataFrame
pivot_df = df.pivot(index='Date', columns='City', values='Temperature')

print(pivot_df)

City        Los Angeles  New York
Date
2023-09-01           82        75
2023-09-02           79        72

In [3]:
data = {
   "value": range(12),
   "variable": ["A"] * 3 + ["B"] * 3 + ["C"] * 3 + ["D"] * 3,
   "date": pd.to_datetime(["2020-01-03", "2020-01-04", "2020-01-05"] * 4)
}


df = pd.DataFrame(data)

df

    value variable       date
0       0        A 2020-01-03
1       1        A 2020-01-04
2       2        A 2020-01-05
3       3        B 2020-01-03
4       4        B 2020-01-04
5       5        B 2020-01-05
6       6        C 2020-01-03
7       7        C 2020-01-04
8       8        C 2020-01-05
9       9        D 2020-01-03
10     10        D 2020-01-04
11     11        D 2020-01-05

In [4]:
df.pivot_table(index="date", columns="variable", values= "value")

variable    A  B  C   D
date
2020-01-03  0  3  6   9
2020-01-04  1  4  7  10
2020-01-05  2  5  8  11