# Parsing HTML and Saving Data

In [2]:
import pandas as pd

Before we start reading HTML, we need to install `lxml` first. Run `pip install lxml` in your terminal.

In [11]:
html_url = "https://www.basketball-reference.com/leagues/NBA_2019_per_game.html"

# nba_data will return a list of tables
nba_data = pd.read_html(html_url)

In [14]:
len(nba_data)

1

In [18]:
# accessing the table
nba_data[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      734 non-null    object
 1   Player  734 non-null    object
 2   Pos     734 non-null    object
 3   Age     734 non-null    object
 4   Tm      734 non-null    object
 5   G       734 non-null    object
 6   GS      734 non-null    object
 7   MP      734 non-null    object
 8   FG      734 non-null    object
 9   FGA     734 non-null    object
 10  FG%     728 non-null    object
 11  3P      734 non-null    object
 12  3PA     734 non-null    object
 13  3P%     687 non-null    object
 14  2P      734 non-null    object
 15  2PA     734 non-null    object
 16  2P%     719 non-null    object
 17  eFG%    728 non-null    object
 18  FT      734 non-null    object
 19  FTA     734 non-null    object
 20  FT%     691 non-null    object
 21  ORB     734 non-null    object
 22  DRB     734 non-null    object
 23  TRB     734 non-null    object
 24  AST     734 non-null    object
 25  STL     734 non-null    object
 26  BLK     734 non-null    object
 27  TOV     734 non-null    object
 28  PF      734 non-null    object
 29  PTS     734 non-null    object
dtypes: object(30)
memory usage: 86.1+ KB

In [19]:
nba_data[0].head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

<br>

## Handling Complex HTMLs

We can use `requests` module to get HTML code from URL to parse into DataFrame.

In [20]:
import requests

In [40]:
html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [42]:
# get HTML code
url = requests.get(html_url)
info_tables = pd.read_html(url.text, header=0)

In [43]:
len(info_tables) # we got so many tables here

50

In [51]:
info_tables[1]

,Cast members,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dan Castellaneta,Julie Kavner,Nancy Cartwright,Yeardley Smith,Hank Azaria,Harry Shearer,NaN,NaN,NaN
2,"Homer Simpson, Abe Simpson, Krusty the Clown, ...","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN